// Colors
// Color names - http://chir.ag/projects/name-that-color/

$black: #000000;
$shark: #1b2125;
$tundora: #4e4e4e;
$trout: #4e585f;
$slate_gray: rgba(#000000, 0.5);
$rolling_stone: #7b8288;
$oslo_gray: #87898b;
$silver_sand: #bfc1c3;
$loblolly: #bbc4ca;
$white: #FFFFFF;
$midnight_blue: #003563;
$science_blue: #0077e2;

$mine_shaft: #212121;
$sepia: #663d15;
$spring_wood: #f8f5f2;
$cloudy: #aba9a7;

// Body
$base-text-color: $white;

// Headings
$base-headings-color: $white;

// Links
$base-link-color: $white;
$hover-link-color: $white;

// Buttons
$base-btn-text-color: $white;
$base-btn-background-color: $science_blue;
$hover-btn-text-color: $white;
$hover-btn-background-color: $science_blue;

// Forms
$field-text-color: $black;
$field-placeholder-color: $slate_gray;
$field-border-color-focus: $sepia;
$field-border-color: $black;
$field-background-color: transparent;

