.products {
  &__list {
    @include phone-and-bigger {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $white;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 1px rgba($black, 0.2);
    min-width: 220px;
    color: $black;

    @include phone-and-bigger {
      width: 48.48%;
    }

    @include tablet-and-bigger {
      width: 31.94%;
    }

    &:hover {
      color: $black;
      box-shadow: 0 0 15px 2px rgba($black, 0.2);
    }
  }

  &__pic {
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  &__card-content {
    font-size: 14px;
    font-weight: 700;
    padding: 17px;
  }

  &__name {
    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba($black, 0.2);
    margin-top: 17px;

    & span {
      width: 100%;
      text-align: center;
    }

    &--not-margin {
      margin: 0;
    }
  }
}
